Q.1) Consider the folloowing dataframe and do as directed:

In [4]:
import pandas as pd

d={"Mouse":[150,200,300,400],

   "Keyboard":[180,200,190,300],

   "Scanner":[200,280,330,450]}

df=pd.DataFrame(d,index=["Jan","Feb","March","April"])
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

A. Write code to access data of Mouse and Scanner columns.

B. Write code to access data of the Keyboard column using dot notation and column name.

C. Write code to access data of scanners using loc[].

D. Write code to access data of all columns where mouse data is more than 200.

E. Write code to access columns using 0 and 2.

F. Write code to access data of rows of jan and march for scanner and keyboard.

Q.2) Consider the above dataframe and predict the output of the following:

a)      print(df.iloc[1][2])

b)      print(df.loc[‘Feb’,’Scanner’])

c)       df1=df[df[‘Keyboard’]>190] 
         print(df1[[‘Mouse’,’Scanner’]])
    
d)      print(df.iloc[2,1])