#### | Range Function.

In [80]:
for i in range(10):
    i = i+1;
    print(i)

1
2
3
4
5
6
7
8
9
10

In [81]:
for i in range(1,10,2):
    i = i+1;
    print(i)

2
4
6
8
10

#### | Using List

In [82]:
x = [2,3,4,5]

for i in x:
    i = i+1;
    print(i)

3
4
5
6

In [83]:
x = 'Shubham'

for i in x:
    i = i*5
    print(i)

SSSSS
hhhhh
uuuuu
bbbbb
hhhhh
aaaaa
mmmmm

In [84]:
import pandas as pd

In [108]:
df = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

In [109]:
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [110]:
df.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [111]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [112]:
for i in range(len(df)):
    i = i+1;
    
print(i)

943

In [113]:
len(df.index)

943

In [114]:
df.loc[3:5,'age']

user_id
3    23
4    24
5    33
Name: age, dtype: int64

#### | Index attribute of the Dataframe.

In [116]:
date1 = pd.Timestamp.now()
curr_year = date1.year
curr_year

2023

In [136]:
for i in df.index:
    i = i+1;
    yob = curr_year - df['age'][i]
    df['YOB'][i] = yob
    print(yob)

1970
2000
1999
1990
1981
1966
1987
1994
1970
1984
1995
1976
1978
1974
2002
1993
1988
1983
1981
1997
1998
1993
2002
1984
1974
1983
1991
1982
2016
1999
1995
2000
1985
2003
2004
2000
1995
1982
1985
1990
1993
1994
1997
1994
1996
1970
1978
2000
2002
1995
2005
1997
2001
1986
1998
2007
1996
1974
1973
1987
1996
1992
1991
1972
2000
2006
2004
1999
1996
1984
1975
1999
1984
1999
2003
1993
1997
1984
1989
2002
1973
1983
1991
1972
1997
1976
1974
1980
1963
1968
1991
1975
1997
1992
1998
1980
1974
2003
1987
2008
1985
1997
1996
1999
1962
1984
1979
1994
2004
1966
1993
1976
1996
1992
1983
2003
2002
1991
1976
1969
1991
1975
1989
1993
1995
1990
1999
1987
2003
1964
1999
1970
1992
2000
1972
1973
1977
2003
1993
1974
2010
1981
1970
1992
1978
1983
1990
1988
2003
1985
1990
1998
1998
1991
1998
1966
1973
2000
1996
1973
1998
1974
1976
2003
1976
1986
1975
1971
1970
1975
1968
1967
1993
1997
1995
2003
1997
2008
2001
1997
1987
1990
1986
1970
1984
1997
1981
1991
1993
1990
1981
1994
1985
1981
1974
1968
2002
1993
1983
1996
1982
1998
1971
1976
2009
1984
1980
1990
1984
1957
1974
1990
1997
1988
2001
2001
1986
1991
1993
2004
1994
2004
1992
1972
1995
1977
2002
1994
1995
1975
1978
1985
1963
1986
1979
1974
1981
1984
2000
1997
1990
1990
1995
2001
2004
1995
1998
1998
1994
1995
1981
1997
1979
2000
1988
2006
2004
2002
1983
1995
2004
1982
1987
1997
1961
2000
1999
1992
2005
1972
1990
1973
2003
1985
2002
1988
1986
1990
1993
2008
2001
1995
1983
1998
1996
2002
1989
2012
1983
2004
1988
1999
1989
1992
1980
1994
1979
1994
1997
1999
1981
2004
2001
2000
1978
1998
1963
1983
1986
1991
1975
1982
2003
1992
1980
2001
1958
1985
2004
1974
2003
2002
2002
1975
1982
2001
1972
1975
1988
1990
2003
1976
1991
1978
2000
1986
1984
1988
1977
2006
1998
1980
1993
1995
1989
2005
1999
1955
1991
1962
1986
1998
1994
1998
1991
1997
1983
2001
1972
2001
1988
2003
1960
1994
2003
2006
2005
1999
1971
1987
1998
1999
1987
2006
1995
2001
1988
1979
1991
1990
1978
1981
1971
1987
1987
1990
1992
1979
1981
2000
1971
2004
1998
1980
1966
2006
1983
1998
1990
1977
1993
1986
1994
2001
1971
1994
2000
1975
1993
1989
1998
1968
1999
1984
2003
1996
1968
1986
1970
1985
1997
1959
1987
2004
1968
1972
1995
1996
1985
1999
2001
1996
2007
1999
1993
1996
1972
2000
1993
1973
2001
1988
1972
2002
1966
1993
2000
2000
1988
2007
1988
2005
1966
1975
1999
1990
1976
2001
1979
2008
2004
1975
1963
1991
2001
1994
1995
1963
1999
2013
1999
1994
1972
1993
1995
2000
1994
1993
1966
1950
2005
1994
1996
1979
1984
2001
1975
1968
1994
1980
1966
2001
1985
1994
2002
2003
1997
1981
1995
2001
2001
1973
1983
1996
1977
2005
1996
2000
1989
2001
1994
1980
1996
1970
1970
1999
1974
2001
1961
2004
1987
1973
1967
1996
1993
1990
2005
1976
1994
1993
2003
1980
2003
1978
1985
1987
1992
1970
1995
2004
2002
1990
1979
1996
1987
1973
1972
1981
2007
1998
1978
1965
1991
1994
1988
1993
1967
1954
1991
2000
1969
1984
1958
1983
2003
1999
1984
1989
1997
1989
1972
1955
1967
1990
1975
1987
1992
1991
2007
1986
2006
1979
1998
1954
2003
1997
2005
2002
1973
1966
2005
1992
1977
1998
2003
2000
1983
2001
1989
2004
1976
2002
1984
1990
1995
1974
2001
2010
2001
1977
1987
1986
1969
1985
1968
1996
2008
2006
2005
2006
1998
1973
2004
1996
2000
1999
2010
1977
1997
2005
2005
1988
1984
2001
1976
1993
1978
1981
2003
1999
2005
1984
1972
1996
2006
1983
1980
2003
1981
1958
1988
1992
1996
1973
1975
1997
1990
1992
1997
1995
1968
1997
1993
1998
1979
1988
1994
1986
1993
2002
1969
1972
2010
1989
1993
2003
1973
2003
1990
1979
2000
1981
1995
1991
1991
1992
1986
1998
1988
1989
1989
1980
1963
1997
1968
1998
1995
1979
2006
1972
1986
1997
1972
2002
2000
1967
1997
2002
2004
2001
2001
1981
1997
2002
1987
1999
1981
1986
1974
1999
1973
1997
1992
2002
1998
1998
1965
2004
1992
1982
1995
1979
1998
1994
1975
1993
1988
1988
1998
1998
1988
1992
1988
1981
1998
2004
1995
1990
1995
1999
1963
1967
1964
1979
1993
1997
1996
2003
1988
2006
1991
1996
1996
1992
1981
1953
1994
1984
1995
1997
1973
2003
1993
1977
1993
1960
1989
1992
1974
2003
2002
1993
1976
1991
1987
2005
1972
1994
1996
1992
1983
2001
1991
1993
1991
1979
1983
1974
1998
2001
1988
1953
1984
1996
1996
1982
1978
1973
1968
1983
2001
2009
1993
1991
1989
2004
1995
1964
2001
1986
1994
1996
1992
1979
1995
2000
1995
1975
1977
2002
1999
1989
1997
1979
1979
1987
2000
1985
1984
1978
1983
1988
2001
1959
1996
1994
1977
2008
1989
2005
1977
1974
1994
1970
1980
1988
1960
2005
1953
1985
1998
2006
1996
1998
1978
1999
2002
1993
2001
1992
2004
1975
1987
1999
1982
1993
1973
1990
2010
1984
1988
1974
1979
1993
2003
2009
1982
1999
1991
1972
1987
1998
1976
1992
1995
1993
2000
1991
1963
1985
1978
1995
2006
1996
1978
1998
1979
1973
1995
1986
1972
1996
1979
1973
1996
2001
1983
1998
1993
2003
1994
2002
1994
2005
1974
2000
2002
1979
1995
1963
1965
1995
1962
1981
1999
1975
1985
1997
1991
2003
1975
2001

C:\Users\gaugupta19\AppData\Local\Temp\ipykernel_31220\3335918001.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YOB'][i] = yob

KeyError: 944

#### | loc[] function of the Dataframe.

In [134]:
for i in df.index:
    i = i+1;
    yob = curr_year - df.loc[i,'age']
    df.loc[i,'YOB'] = yob
    print(yob)

1970
2000
1999
1990
1981
1966
1987
1994
1970
1984
1995
1976
1978
1974
2002
1993
1988
1983
1981
1997
1998
1993
2002
1984
1974
1983
1991
1982
2016
1999
1995
2000
1985
2003
2004
2000
1995
1982
1985
1990
1993
1994
1997
1994
1996
1970
1978
2000
2002
1995
2005
1997
2001
1986
1998
2007
1996
1974
1973
1987
1996
1992
1991
1972
2000
2006
2004
1999
1996
1984
1975
1999
1984
1999
2003
1993
1997
1984
1989
2002
1973
1983
1991
1972
1997
1976
1974
1980
1963
1968
1991
1975
1997
1992
1998
1980
1974
2003
1987
2008
1985
1997
1996
1999
1962
1984
1979
1994
2004
1966
1993
1976
1996
1992
1983
2003
2002
1991
1976
1969
1991
1975
1989
1993
1995
1990
1999
1987
2003
1964
1999
1970
1992
2000
1972
1973
1977
2003
1993
1974
2010
1981
1970
1992
1978
1983
1990
1988
2003
1985
1990
1998
1998
1991
1998
1966
1973
2000
1996
1973
1998
1974
1976
2003
1976
1986
1975
1971
1970
1975
1968
1967
1993
1997
1995
2003
1997
2008
2001
1997
1987
1990
1986
1970
1984
1997
1981
1991
1993
1990
1981
1994
1985
1981
1974
1968
2002
1993
1983
1996
1982
1998
1971
1976
2009
1984
1980
1990
1984
1957
1974
1990
1997
1988
2001
2001
1986
1991
1993
2004
1994
2004
1992
1972
1995
1977
2002
1994
1995
1975
1978
1985
1963
1986
1979
1974
1981
1984
2000
1997
1990
1990
1995
2001
2004
1995
1998
1998
1994
1995
1981
1997
1979
2000
1988
2006
2004
2002
1983
1995
2004
1982
1987
1997
1961
2000
1999
1992
2005
1972
1990
1973
2003
1985
2002
1988
1986
1990
1993
2008
2001
1995
1983
1998
1996
2002
1989
2012
1983
2004
1988
1999
1989
1992
1980
1994
1979
1994
1997
1999
1981
2004
2001
2000
1978
1998
1963
1983
1986
1991
1975
1982
2003
1992
1980
2001
1958
1985
2004
1974
2003
2002
2002
1975
1982
2001
1972
1975
1988
1990
2003
1976
1991
1978
2000
1986
1984
1988
1977
2006
1998
1980
1993
1995
1989
2005
1999
1955
1991
1962
1986
1998
1994
1998
1991
1997
1983
2001
1972
2001
1988
2003
1960
1994
2003
2006
2005
1999
1971
1987
1998
1999
1987
2006
1995
2001
1988
1979
1991
1990
1978
1981
1971
1987
1987
1990
1992
1979
1981
2000
1971
2004
1998
1980
1966
2006
1983
1998
1990
1977
1993
1986
1994
2001
1971
1994
2000
1975
1993
1989
1998
1968
1999
1984
2003
1996
1968
1986
1970
1985
1997
1959
1987
2004
1968
1972
1995
1996
1985
1999
2001
1996
2007
1999
1993
1996
1972
2000
1993
1973
2001
1988
1972
2002
1966
1993
2000
2000
1988
2007
1988
2005
1966
1975
1999
1990
1976
2001
1979
2008
2004
1975
1963
1991
2001
1994
1995
1963
1999
2013
1999
1994
1972
1993
1995
2000
1994
1993
1966
1950
2005
1994
1996
1979
1984
2001
1975
1968
1994
1980
1966
2001
1985
1994
2002
2003
1997
1981
1995
2001
2001
1973
1983
1996
1977
2005
1996
2000
1989
2001
1994
1980
1996
1970
1970
1999
1974
2001
1961
2004
1987
1973
1967
1996
1993
1990
2005
1976
1994
1993
2003
1980
2003
1978
1985
1987
1992
1970
1995
2004
2002
1990
1979
1996
1987
1973
1972
1981
2007
1998
1978
1965
1991
1994
1988
1993
1967
1954
1991
2000
1969
1984
1958
1983
2003
1999
1984
1989
1997
1989
1972
1955
1967
1990
1975
1987
1992
1991
2007
1986
2006
1979
1998
1954
2003
1997
2005
2002
1973
1966
2005
1992
1977
1998
2003
2000
1983
2001
1989
2004
1976
2002
1984
1990
1995
1974
2001
2010
2001
1977
1987
1986
1969
1985
1968
1996
2008
2006
2005
2006
1998
1973
2004
1996
2000
1999
2010
1977
1997
2005
2005
1988
1984
2001
1976
1993
1978
1981
2003
1999
2005
1984
1972
1996
2006
1983
1980
2003
1981
1958
1988
1992
1996
1973
1975
1997
1990
1992
1997
1995
1968
1997
1993
1998
1979
1988
1994
1986
1993
2002
1969
1972
2010
1989
1993
2003
1973
2003
1990
1979
2000
1981
1995
1991
1991
1992
1986
1998
1988
1989
1989
1980
1963
1997
1968
1998
1995
1979
2006
1972
1986
1997
1972
2002
2000
1967
1997
2002
2004
2001
2001
1981
1997
2002
1987
1999
1981
1986
1974
1999
1973
1997
1992
2002
1998
1998
1965
2004
1992
1982
1995
1979
1998
1994
1975
1993
1988
1988
1998
1998
1988
1992
1988
1981
1998
2004
1995
1990
1995
1999
1963
1967
1964
1979
1993
1997
1996
2003
1988
2006
1991
1996
1996
1992
1981
1953
1994
1984
1995
1997
1973
2003
1993
1977
1993
1960
1989
1992
1974
2003
2002
1993
1976
1991
1987
2005
1972
1994
1996
1992
1983
2001
1991
1993
1991
1979
1983
1974
1998
2001
1988
1953
1984
1996
1996
1982
1978
1973
1968
1983
2001
2009
1993
1991
1989
2004
1995
1964
2001
1986
1994
1996
1992
1979
1995
2000
1995
1975
1977
2002
1999
1989
1997
1979
1979
1987
2000
1985
1984
1978
1983
1988
2001
1959
1996
1994
1977
2008
1989
2005
1977
1974
1994
1970
1980
1988
1960
2005
1953
1985
1998
2006
1996
1998
1978
1999
2002
1993
2001
1992
2004
1975
1987
1999
1982
1993
1973
1990
2010
1984
1988
1974
1979
1993
2003
2009
1982
1999
1991
1972
1987
1998
1976
1992
1995
1993
2000
1991
1963
1985
1978
1995
2006
1996
1978
1998
1979
1973
1995
1986
1972
1996
1979
1973
1996
2001
1983
1998
1993
2003
1994
2002
1994
2005
1974
2000
2002
1979
1995
1963
1965
1995
1962
1981
1999
1975
1985
1997
1991
2003
1975
2001

KeyError: 944

In [118]:
df.head()

         age gender  occupation zip_code     YOB
user_id
1         24      M  technician    85711  1999.0
2         53      F       other    94043  1970.0
3         23      M      writer    32067  2000.0
4         24      M  technician    43537  1999.0
5         33      F       other    15213  1990.0

#### | Apply function

In [126]:
df['YOB_mod'] = df.age.apply(lambda age: curr_year-age)

In [127]:
df.head()

         age gender  occupation zip_code     YOB  YOB_mod
user_id
1         24      M  technician    85711  1999.0     1999
2         53      F       other    94043  1970.0     1970
3         23      M      writer    32067  2000.0     2000
4         24      M  technician    43537  1999.0     1999
5         33      F       other    15213  1990.0     1990

In [137]:
# for i in df.iterrows():
# #     i = i+1;
#     print(i)

TypeError: can only concatenate tuple (not "int") to tuple

In [150]:
for index,row in df.iterrows():
    print(index,row)

1 age                   24
gender                 M
occupation    technician
zip_code           85711
YOB               1999.0
YOB_mod             1999
YOB_mod1             576
Name: 1, dtype: object
2 age               53
gender             F
occupation     other
zip_code       94043
YOB           1970.0
YOB_mod         1970
YOB_mod1        2809
Name: 2, dtype: object
3 age               23
gender             M
occupation    writer
zip_code       32067
YOB           2000.0
YOB_mod         2000
YOB_mod1         529
Name: 3, dtype: object
4 age                   24
gender                 M
occupation    technician
zip_code           43537
YOB               1999.0
YOB_mod             1999
YOB_mod1             576
Name: 4, dtype: object
5 age               33
gender             F
occupation     other
zip_code       15213
YOB           1990.0
YOB_mod         1990
YOB_mod1        1089
Name: 5, dtype: object
6 age                  42
gender                M
occupation    executive
zip_code          98101
YOB              1981.0
YOB_mod            1981
YOB_mod1           1764
Name: 6, dtype: object
7 age                      57
gender                    M
occupation    administrator
zip_code              91344
YOB                  1966.0
YOB_mod                1966
YOB_mod1               3249
Name: 7, dtype: object
8 age                      36
gender                    M
occupation    administrator
zip_code              05201
YOB                  1987.0
YOB_mod                1987
YOB_mod1               1296
Name: 8, dtype: object
9 age                29
gender              M
occupation    student
zip_code        01002
YOB            1994.0
YOB_mod          1994
YOB_mod1          841
Name: 9, dtype: object
10 age               53
gender             M
occupation    lawyer
zip_code       90703
YOB           1970.0
YOB_mod         1970
YOB_mod1        2809
Name: 10, dtype: object
11 age               39
gender             F
occupation     other
zip_code       30329
YOB           1984.0
YOB_mod         1984
YOB_mod1        1521
Name: 11, dtype: object
12 age               28
gender             F
occupation     other
zip_code       06405
YOB           1995.0
YOB_mod         1995
YOB_mod1         784
Name: 12, dtype: object
13 age                 47
gender               M
occupation    educator
zip_code         29206
YOB             1976.0
YOB_mod           1976
YOB_mod1          2209
Name: 13, dtype: object
14 age                  45
gender                M
occupation    scientist
zip_code          55106
YOB              1978.0
YOB_mod            1978
YOB_mod1           2025
Name: 14, dtype: object
15 age                 49
gender               F
occupation    educator
zip_code         97301
YOB             1974.0
YOB_mod           1974
YOB_mod1          2401
Name: 15, dtype: object
16 age                      21
gender                    M
occupation    entertainment
zip_code              10309
YOB                  2002.0
YOB_mod                2002
YOB_mod1                441
Name: 16, dtype: object
17 age                   30
gender                 M
occupation    programmer
zip_code           06355
YOB               1993.0
YOB_mod             1993
YOB_mod1             900
Name: 17, dtype: object
18 age               35
gender             F
occupation     other
zip_code       37212
YOB           1988.0
YOB_mod         1988
YOB_mod1        1225
Name: 18, dtype: object
19 age                  40
gender                M
occupation    librarian
zip_code          02138
YOB              1983.0
YOB_mod            1983
YOB_mod1           1600
Name: 19, dtype: object
20 age                  42
gender                F
occupation    homemaker
zip_code          95660
YOB              1981.0
YOB_mod            1981
YOB_mod1           1764
Name: 20, dtype: object
21 age               26
gender             M
occupation    writer
zip_code       30068
YOB           1997.0
YOB_mod         1997
YOB_mod1         676
Name: 21, dtype: object
22 age               25
gender             M
occupation    writer
zip_code       40206
YOB           1998.0
YOB_mod         1998
YOB_mod1         625
Name: 22, dtype: object
23 age               30
gender             F
occupation    artist
zip_code       48197
YOB           1993.0
YOB_mod         1993
YOB_mod1         900
Name: 23, dtype: object
24 age               21
gender             F
occupation    artist
zip_code       94533
YOB           2002.0
YOB_mod         2002
YOB_mod1         441
Name: 24, dtype: object
25 age                 39
gender               M
occupation    engineer
zip_code         55107
YOB             1984.0
YOB_mod           1984
YOB_mod1          1521
Name: 25, dtype: object
26 age                 49
gender               M
occupation    engineer
zip_code         21044
YOB             1974.0
YOB_mod           1974
YOB_mod1          2401
Name: 26, dtype: object
27 age                  40
gender                F
occupation    librarian
zip_code          30030
YOB              1983.0
YOB_mod            1983
YOB_mod1           1600
Name: 27, dtype: object
28 age               32
gender             M
occupation    writer
zip_code       55369
YOB           1991.0
YOB_mod         1991
YOB_mod1        1024
Name: 28, dtype: object
29 age                   41
gender                 M
occupation    programmer
zip_code           94043
YOB               1982.0
YOB_mod             1982
YOB_mod1            1681
Name: 29, dtype: object
30 age                 7
gender              M
occupation    student
zip_code        55436
YOB            2016.0
YOB_mod          2016
YOB_mod1           49
Name: 30, dtype: object
31 age               24
gender             M
occupation    artist
zip_code       10003
YOB           1999.0
YOB_mod         1999
YOB_mod1         576
Name: 31, dtype: object
32 age                28
gender              F
occupation    student
zip_code        78741
YOB            1995.0
YOB_mod          1995
YOB_mod1          784
Name: 32, dtype: object
33 age                23
gender              M
occupation    student
zip_code        27510
YOB            2000.0
YOB_mod          2000
YOB_mod1          529
Name: 33, dtype: object
34 age                      38
gender                    F
occupation    administrator
zip_code              42141
YOB                  1985.0
YOB_mod                1985
YOB_mod1               1444
Name: 34, dtype: object
35 age                  20
gender                F
occupation    homemaker
zip_code          42459
YOB              2003.0
YOB_mod            2003
YOB_mod1            400
Name: 35, dtype: object
36 age                19
gender              F
occupation    student
zip_code        93117
YOB            2004.0
YOB_mod          2004
YOB_mod1          361
Name: 36, dtype: object
37 age                23
gender              M
occupation    student
zip_code        55105
YOB            2000.0
YOB_mod          2000
YOB_mod1          529
Name: 37, dtype: object
38 age               28
gender             F
occupation     other
zip_code       54467
YOB           1995.0
YOB_mod         1995
YOB_mod1         784
Name: 38, dtype: object
39 age                      41
gender                    M
occupation    entertainment
zip_code              01040
YOB                  1982.0
YOB_mod                1982
YOB_mod1               1681
Name: 39, dtype: object
40 age                  38
gender                M
occupation    scientist
zip_code          27514
YOB              1985.0
YOB_mod            1985
YOB_mod1           1444
Name: 40, dtype: object
41 age                 33
gender               M
occupation    engineer
zip_code         80525
YOB             1990.0
YOB_mod           1990
YOB_mod1          1089
Name: 41, dtype: object
42 age                      30
gender                    M
occupation    administrator
zip_code              17870
YOB                  1993.0
YOB_mod                1993
YOB_mod1                900
Name: 42, dtype: object
43 age                  29
gender                F
occupation    librarian
zip_code          20854
YOB              1994.0
YOB_mod            1994
YOB_mod1            841
Name: 43, dtype: object
44 age                   26
gender                 M
occupation    technician
zip_code           46260
YOB               1997.0
YOB_mod             1997
YOB_mod1             676
Name: 44, dtype: object
45 age                   29
gender                 M
occupation    programmer
zip_code           50233
YOB               1994.0
YOB_mod             1994
YOB_mod1             841
Name: 45, dtype: object
46 age                  27
gender                F
occupation    marketing
zip_code          46538
YOB              1996.0
YOB_mod            1996
YOB_mod1            729
Name: 46, dtype: object
47 age                  53
gender                M
occupation    marketing
zip_code          07102
YOB              1970.0
YOB_mod            1970
YOB_mod1           2809
Name: 47, dtype: object
48 age                      45
gender                    M
occupation    administrator
zip_code              12550
YOB                  1978.0
YOB_mod                1978
YOB_mod1               2025
Name: 48, dtype: object
49 age                23
gender              F
occupation    student
zip_code        76111
YOB            2000.0
YOB_mod          2000
YOB_mod1          529
Name: 49, dtype: object
50 age               21
gender             M
occupation    writer
zip_code       52245
YOB           2002.0
YOB_mod         2002
YOB_mod1         441
Name: 50, dtype: object
51 age                 28
gender               M
occupation    educator
zip_code         16509
YOB             1995.0
YOB_mod           1995
YOB_mod1           784
Name: 51, dtype: object
52 age                18
gender              F
occupation    student
zip_code        55105
YOB            2005.0
YOB_mod          2005
YOB_mod1          324
Name: 52, dtype: object
53 age                   26
gender                 M
occupation    programmer
zip_code           55414
YOB               1997.0
YOB_mod             1997
YOB_mod1             676
Name: 53, dtype: object
54 age                  22
gender                M
occupation    executive
zip_code          66315
YOB              2001.0
YOB_mod            2001
YOB_mod1            484
Name: 54, dtype: object
55 age                   37
gender                 M
occupation    programmer
zip_code           01331
YOB               1986.0
YOB_mod             1986
YOB_mod1            1369
Name: 55, dtype: object
56 age                  25
gender                M
occupation    librarian
zip_code          46260
YOB              1998.0
YOB_mod            1998
YOB_mod1            625
Name: 56, dtype: object
57 age               16
gender             M
occupation      none
zip_code       84010
YOB           2007.0
YOB_mod         2007
YOB_mod1         256
Name: 57, dtype: object
58 age                   27
gender                 M
occupation    programmer
zip_code           52246
YOB               1996.0
YOB_mod             1996
YOB_mod1             729
Name: 58, dtype: object
59 age                 49
gender               M
occupation    educator
zip_code         08403
YOB             1974.0
YOB_mod           1974
YOB_mod1          2401
Name: 59, dtype: object
60 age                   50
gender                 M
occupation    healthcare
zip_code           06472
YOB               1973.0
YOB_mod             1973
YOB_mod1            2500
Name: 60, dtype: object
61 age                 36
gender               M
occupation    engineer
zip_code         30040
YOB             1987.0
YOB_mod           1987
YOB_mod1          1296
Name: 61, dtype: object
62 age                      27
gender                    F
occupation    administrator
zip_code              97214
YOB                  1996.0
YOB_mod                1996
YOB_mod1                729
Name: 62, dtype: object
63 age                  31
gender                M
occupation    marketing
zip_code          75240
YOB              1992.0
YOB_mod            1992
YOB_mod1            961
Name: 63, dtype: object
64 age                 32
gender               M
occupation    educator
zip_code         43202
YOB             1991.0
YOB_mod           1991
YOB_mod1          1024
Name: 64, dtype: object
65 age                 51
gender               F
occupation    educator
zip_code         48118
YOB             1972.0
YOB_mod           1972
YOB_mod1          2601
Name: 65, dtype: object
66 age                23
gender              M
occupation    student
zip_code        80521
YOB            2000.0
YOB_mod          2000
YOB_mod1          529
Name: 66, dtype: object
67 age                17
gender              M
occupation    student
zip_code        60402
YOB            2006.0
YOB_mod          2006
YOB_mod1          289
Name: 67, dtype: object
68 age                19
gender              M
occupation    student
zip_code        22904
YOB            2004.0
YOB_mod          2004
YOB_mod1          361
Name: 68, dtype: object
69 age                 24
gender               M
occupation    engineer
zip_code         55337
YOB             1999.0
YOB_mod           1999
YOB_mod1           576
Name: 69, dtype: object
70 age                 27
gender               M
occupation    engineer
zip_code         60067
YOB             1996.0
YOB_mod           1996
YOB_mod1           729
Name: 70, dtype: object
71 age                  39
gender                M
occupation    scientist
zip_code          98034
YOB              1984.0
YOB_mod            1984
YOB_mod1           1521
Name: 71, dtype: object
72 age                      48
gender                    F
occupation    administrator
zip_code              73034
YOB                  1975.0
YOB_mod                1975
YOB_mod1               2304
Name: 72, dtype: object
73 age                24
gender              M
occupation    student
zip_code        41850
YOB            1999.0
YOB_mod          1999
YOB_mod1          576
Name: 73, dtype: object
74 age                  39
gender                M
occupation    scientist
zip_code          T8H1N
YOB              1984.0
YOB_mod            1984
YOB_mod1           1521
Name: 74, dtype: object
75 age                      24
gender                    M
occupation    entertainment
zip_code              08816
YOB                  1999.0
YOB_mod                1999
YOB_mod1                576
Name: 75, dtype: object
76 age                20
gender              M
occupation    student
zip_code        02215
YOB            2003.0
YOB_mod          2003
YOB_mod1          400
Name: 76, dtype: object
77 age                   30
gender                 M
occupation    technician
zip_code           29379
YOB               1993.0
YOB_mod             1993
YOB_mod1             900
Name: 77, dtype: object
78 age                      26
gender                    M
occupation    administrator
zip_code              61801
YOB                  1997.0
YOB_mod                1997
YOB_mod1                676
Name: 78, dtype: object
79 age                      39
gender                    F
occupation    administrator
zip_code              03755
YOB                  1984.0
YOB_mod                1984
YOB_mod1               1521
Name: 79, dtype: object
80 age                      34
gender                    F
occupation    administrator
zip_code              52241
YOB                  1989.0
YOB_mod                1989
YOB_mod1               1156
Name: 80, dtype: object
81 age                21
gender              M
occupation    student
zip_code        21218
YOB            2002.0
YOB_mod          2002
YOB_mod1          441
Name: 81, dtype: object
82 age                   50
gender                 M
occupation    programmer
zip_code           22902
YOB               1973.0
YOB_mod             1973
YOB_mod1            2500
Name: 82, dtype: object
83 age               40
gender             M
occupation     other
zip_code       44133
YOB           1983.0
YOB_mod         1983
YOB_mod1        1600
Name: 83, dtype: object
84 age                  32
gender                M
occupation    executive
zip_code          55369
YOB              1991.0
YOB_mod            1991
YOB_mod1           1024
Name: 84, dtype: object
85 age                 51
gender               M
occupation    educator
zip_code         20003
YOB             1972.0
YOB_mod           1972
YOB_mod1          2601
Name: 85, dtype: object
86 age                      26
gender                    M
occupation    administrator
zip_code              46005
YOB                  1997.0
YOB_mod                1997
YOB_mod1                676
Name: 86, dtype: object
87 age                      47
gender                    M
occupation    administrator
zip_code              89503
YOB                  1976.0
YOB_mod                1976
YOB_mod1               2209
Name: 87, dtype: object
88 age                  49
gender                F
occupation    librarian
zip_code          11701
YOB              1974.0
YOB_mod            1974
YOB_mod1           2401
Name: 88, dtype: object
89 age                      43
gender                    F
occupation    administrator
zip_code              68106
YOB                  1980.0
YOB_mod                1980
YOB_mod1               1849
Name: 89, dtype: object
90 age                 60
gender               M
occupation    educator
zip_code         78155
YOB             1963.0
YOB_mod           1963
YOB_mod1          3600
Name: 90, dtype: object
91 age                  55
gender                M
occupation    marketing
zip_code          01913
YOB              1968.0
YOB_mod            1968
YOB_mod1           3025
Name: 91, dtype: object
92 age                      32
gender                    M
occupation    entertainment
zip_code              80525
YOB                  1991.0
YOB_mod                1991
YOB_mod1               1024
Name: 92, dtype: object
93 age                  48
gender                M
occupation    executive
zip_code          23112
YOB              1975.0
YOB_mod            1975
YOB_mod1           2304
Name: 93, dtype: object
94 age                26
gender              M
occupation    student
zip_code        71457
YOB            1997.0
YOB_mod          1997
YOB_mod1          676
Name: 94, dtype: object
95 age                      31
gender                    M
occupation    administrator
zip_code              10707
YOB                  1992.0
YOB_mod                1992
YOB_mod1                961
Name: 95, dtype: object
96 age               25
gender             F
occupation    artist
zip_code       75206
YOB           1998.0
YOB_mod         1998
YOB_mod1         625
Name: 96, dtype: object
97 age               43
gender             M
occupation    artist
zip_code       98006
YOB           1980.0
YOB_mod         1980
YOB_mod1        1849
Name: 97, dtype: object
98 age                  49
gender                F
occupation    executive
zip_code          90291
YOB              1974.0
YOB_mod            1974
YOB_mod1           2401
Name: 98, dtype: object
99 age                20
gender              M
occupation    student
zip_code        63129
YOB            2003.0
YOB_mod          2003
YOB_mod1          400
Name: 99, dtype: object
100 age                  36
gender                M
occupation    executive
zip_code          90254
YOB              1987.0
YOB_mod            1987
YOB_mod1           1296
Name: 100, dtype: object
101 age                15
gender              M
occupation    student
zip_code        05146
YOB            2008.0
YOB_mod          2008
YOB_mod1          225
Name: 101, dtype: object
102 age                   38
gender                 M
occupation    programmer
zip_code           30220
YOB               1985.0
YOB_mod             1985
YOB_mod1            1444
Name: 102, dtype: object
103 age                26
gender              M
occupation    student
zip_code        55108
YOB            1997.0
YOB_mod          1997
YOB_mod1          676
Name: 103, dtype: object
104 age                27
gender              M
occupation    student

529 age                      47
gender                    F
occupation    administrator
zip_code              44224
YOB                  1976.0
YOB_mod                1976
YOB_mod1               2209
Name: 529, dtype: object
530 age                 29
gender               M
occupation    engineer
zip_code         94040
YOB             1994.0
YOB_mod           1994
YOB_mod1           841
Name: 530, dtype: object
531 age                 30
gender               F
occupation    salesman
zip_code         97408
YOB             1993.0
YOB_mod           1993
YOB_mod1           900
Name: 531, dtype: object
532 age                20
gender              M
occupation    student
zip_code        92705
YOB            2003.0
YOB_mod          2003
YOB_mod1          400
Name: 532, dtype: object
533 age                  43
gender                M
occupation    librarian
zip_code          02324
YOB              1980.0
YOB_mod            1980
YOB_mod1           1849
Name: 533, dtype: object
534 age                20
gender              M
occupation    student
zip_code        05464
YOB            2003.0
YOB_mod          2003
YOB_mod1          400
Name: 534, dtype: object
535 age                 45
gender               F
occupation    educator
zip_code         80302
YOB             1978.0
YOB_mod           1978
YOB_mod1          2025
Name: 535, dtype: object
536 age                 38
gender               M
occupation    engineer
zip_code         30078
YOB             1985.0
YOB_mod           1985
YOB_mod1          1444
Name: 536, dtype: object
537 age                 36
gender               M
occupation    engineer
zip_code         22902
YOB             1987.0
YOB_mod           1987
YOB_mod1          1296
Name: 537, dtype: object
538 age                  31
gender                M
occupation    scientist
zip_code          21010
YOB              1992.0
YOB_mod            1992
YOB_mod1            961
Name: 538, dtype: object
539 age                      53
gender                    F
occupation    administrator
zip_code              80303
YOB                  1970.0
YOB_mod                1970
YOB_mod1               2809
Name: 539, dtype: object
540 age                 28
gender               M
occupation    engineer
zip_code         91201
YOB             1995.0
YOB_mod           1995
YOB_mod1           784
Name: 540, dtype: object
541 age                19
gender              F
occupation    student
zip_code        84302
YOB            2004.0
YOB_mod          2004
YOB_mod1          361
Name: 541, dtype: object
542 age                21
gender              M
occupation    student
zip_code        60515
YOB            2002.0
YOB_mod          2002
YOB_mod1          441
Name: 542, dtype: object
543 age                  33
gender                M
occupation    scientist
zip_code          95123
YOB              1990.0
YOB_mod            1990
YOB_mod1           1089
Name: 543, dtype: object
544 age               44
gender             F
occupation     other
zip_code       29464
YOB           1979.0
YOB_mod         1979
YOB_mod1        1936
Name: 544, dtype: object
545 age                   27
gender                 M
occupation    technician
zip_code           08052
YOB               1996.0
YOB_mod             1996
YOB_mod1             729
Name: 545, dtype: object
546 age                  36
gender                M
occupation    executive
zip_code          22911
YOB              1987.0
YOB_mod            1987
YOB_mod1           1296
Name: 546, dtype: object
547 age                 50
gender               M
occupation    educator
zip_code         14534
YOB             1973.0
YOB_mod           1973
YOB_mod1          2500
Name: 547, dtype: object
548 age               51
gender             M
occupation    writer
zip_code       95468
YOB           1972.0
YOB_mod         1972
YOB_mod1        2601
Name: 548, dtype: object
549 age                  42
gender                M
occupation    scientist
zip_code          45680
YOB              1981.0
YOB_mod            1981
YOB_mod1           1764
Name: 549, dtype: object
550 age                16
gender              F
occupation    student
zip_code        95453
YOB            2007.0
YOB_mod          2007
YOB_mod1          256
Name: 550, dtype: object
551 age                   25
gender                 M
occupation    programmer
zip_code           55414
YOB               1998.0
YOB_mod             1998
YOB_mod1             625
Name: 551, dtype: object
552 age               45
gender             M
occupation     other
zip_code       68147
YOB           1978.0
YOB_mod         1978
YOB_mod1        2025
Name: 552, dtype: object
553 age                 58
gender               M
occupation    educator
zip_code         62901
YOB             1965.0
YOB_mod           1965
YOB_mod1          3364
Name: 553, dtype: object
554 age                  32
gender                M
occupation    scientist
zip_code          62901
YOB              1991.0
YOB_mod            1991
YOB_mod1           1024
Name: 554, dtype: object
555 age                 29
gender               F
occupation    educator
zip_code         23227
YOB             1994.0
YOB_mod           1994
YOB_mod1           841
Name: 555, dtype: object
556 age                 35
gender               F
occupation    educator
zip_code         30606
YOB             1988.0
YOB_mod           1988
YOB_mod1          1225
Name: 556, dtype: object
557 age               30
gender             F
occupation    writer
zip_code       11217
YOB           1993.0
YOB_mod         1993
YOB_mod1         900
Name: 557, dtype: object
558 age               56
gender             F
occupation    writer
zip_code       63132
YOB           1967.0
YOB_mod         1967
YOB_mod1        3136
Name: 558, dtype: object
559 age                  69
gender                M
occupation    executive
zip_code          10022
YOB              1954.0
YOB_mod            1954
YOB_mod1           4761
Name: 559, dtype: object
560 age                32
gender              M
occupation    student
zip_code        10003
YOB            1991.0
YOB_mod          1991
YOB_mod1         1024
Name: 560, dtype: object
561 age                 23
gender               M
occupation    engineer
zip_code         60005
YOB             2000.0
YOB_mod           2000
YOB_mod1           529
Name: 561, dtype: object
562 age                      54
gender                    F
occupation    administrator
zip_code              20879
YOB                  1969.0
YOB_mod                1969
YOB_mod1               2916
Name: 562, dtype: object
563 age                  39
gender                F
occupation    librarian
zip_code          32707
YOB              1984.0
YOB_mod            1984
YOB_mod1           1521
Name: 563, dtype: object
564 age                65
gender              M
occupation    retired
zip_code        94591
YOB            1958.0
YOB_mod          1958
YOB_mod1         4225
Name: 564, dtype: object
565 age                40
gender              M
occupation    student
zip_code        55422
YOB            1983.0
YOB_mod          1983
YOB_mod1         1600
Name: 565, dtype: object
566 age                20
gender              M
occupation    student
zip_code        14627
YOB            2003.0
YOB_mod          2003
YOB_mod1          400
Name: 566, dtype: object
567 age                      24
gender                    M
occupation    entertainment
zip_code              10003
YOB                  1999.0
YOB_mod                1999
YOB_mod1                576
Name: 567, dtype: object
568 age                 39
gender               M
occupation    educator
zip_code         01915
YOB             1984.0
YOB_mod           1984
YOB_mod1          1521
Name: 568, dtype: object
569 age                 34
gender               M
occupation    educator
zip_code         91903
YOB             1989.0
YOB_mod           1989
YOB_mod1          1156
Name: 569, dtype: object
570 age                 26
gender               M
occupation    educator
zip_code         14627
YOB             1997.0
YOB_mod           1997
YOB_mod1           676
Name: 570, dtype: object
571 age               34
gender             M
occupation    artist
zip_code       01945
YOB           1989.0
YOB_mod         1989
YOB_mod1        1156
Name: 571, dtype: object
572 age                 51
gender               M
occupation    educator
zip_code         20003
YOB             1972.0
YOB_mod           1972
YOB_mod1          2601
Name: 572, dtype: object
573 age                68
gender              M
occupation    retired
zip_code        48911
YOB            1955.0
YOB_mod          1955
YOB_mod1         4624
Name: 573, dtype: object
574 age                 56
gender               M
occupation    educator
zip_code         53188
YOB             1967.0
YOB_mod           1967
YOB_mod1          3136
Name: 574, dtype: object
575 age                  33
gender                M
occupation    marketing
zip_code          46032
YOB              1990.0
YOB_mod            1990
YOB_mod1           1089
Name: 575, dtype: object
576 age                  48
gender                M
occupation    executive
zip_code          98281
YOB              1975.0
YOB_mod            1975
YOB_mod1           2304
Name: 576, dtype: object
577 age                36
gender              F
occupation    student
zip_code        77845
YOB            1987.0
YOB_mod          1987
YOB_mod1         1296
Name: 577, dtype: object
578 age                      31
gender                    M
occupation    administrator
zip_code              M7A1A
YOB                  1992.0
YOB_mod                1992
YOB_mod1                961
Name: 578, dtype: object
579 age                 32
gender               M
occupation    educator
zip_code         48103
YOB             1991.0
YOB_mod           1991
YOB_mod1          1024
Name: 579, dtype: object
580 age                16
gender              M
occupation    student
zip_code        17961
YOB            2007.0
YOB_mod          2007
YOB_mod1          256
Name: 580, dtype: object
581 age               37
gender             M
occupation     other
zip_code       94131
YOB           1986.0
YOB_mod         1986
YOB_mod1        1369
Name: 581, dtype: object
582 age                17
gender              M
occupation    student
zip_code        93003
YOB            2006.0
YOB_mod          2006
YOB_mod1          289
Name: 582, dtype: object
583 age                 44
gender               M
occupation    engineer
zip_code         29631
YOB             1979.0
YOB_mod           1979
YOB_mod1          1936
Name: 583, dtype: object
584 age                25
gender              M
occupation    student
zip_code        27511
YOB            1998.0
YOB_mod          1998
YOB_mod1          625
Name: 584, dtype: object
585 age                  69
gender                M
occupation    librarian
zip_code          98501
YOB              1954.0
YOB_mod            1954
YOB_mod1           4761
Name: 585, dtype: object
586 age                20
gender              M
occupation    student
zip_code        79508
YOB            2003.0
YOB_mod          2003
YOB_mod1          400
Name: 586, dtype: object
587 age               26
gender             M
occupation     other
zip_code       14216
YOB           1997.0
YOB_mod         1997
YOB_mod1         676
Name: 587, dtype: object
588 age                18
gender              F
occupation    student
zip_code        93063
YOB            2005.0
YOB_mod          2005
YOB_mod1          324
Name: 588, dtype: object
589 age               21
gender             M
occupation    lawyer
zip_code       90034
YOB           2002.0
YOB_mod         2002
YOB_mod1         441
Name: 589, dtype: object
590 age                 50
gender               M
occupation    educator
zip_code         82435
YOB             1973.0
YOB_mod           1973
YOB_mod1          2500
Name: 590, dtype: object
591 age                  57
gender                F
occupation    librarian
zip_code          92093
YOB              1966.0
YOB_mod            1966
YOB_mod1           3249
Name: 591, dtype: object
592 age                18
gender              M
occupation    student
zip_code        97520
YOB            2005.0
YOB_mod          2005
YOB_mod1          324
Name: 592, dtype: object
593 age                 31
gender               F
occupation    educator
zip_code         68767
YOB             1992.0
YOB_mod           1992
YOB_mod1           961
Name: 593, dtype: object
594 age                 46
gender               M
occupation    educator
zip_code         M4J2K
YOB             1977.0
YOB_mod           1977
YOB_mod1          2116
Name: 594, dtype: object
595 age                   25
gender                 M
occupation    programmer
zip_code           31909
YOB               1998.0
YOB_mod             1998
YOB_mod1             625
Name: 595, dtype: object
596 age               20
gender             M
occupation    artist
zip_code       77073
YOB           2003.0
YOB_mod         2003
YOB_mod1         400
Name: 596, dtype: object
597 age               23
gender             M
occupation     other
zip_code       84116
YOB           2000.0
YOB_mod         2000
YOB_mod1         529
Name: 597, dtype: object
598 age                  40
gender                F
occupation    marketing
zip_code          43085
YOB              1983.0
YOB_mod            1983
YOB_mod1           1600
Name: 598, dtype: object
599 age                22
gender              F
occupation    student
zip_code        R3T5K
YOB            2001.0
YOB_mod          2001
YOB_mod1          484
Name: 599, dtype: object
600 age                   34
gender                 M
occupation    programmer
zip_code           02320
YOB               1989.0
YOB_mod             1989
YOB_mod1            1156
Name: 600, dtype: object
601 age               19
gender             F
occupation    artist
zip_code       99687
YOB           2004.0
YOB_mod         2004
YOB_mod1         361
Name: 601, dtype: object
602 age               47
gender             F
occupation     other
zip_code       34656
YOB           1976.0
YOB_mod         1976
YOB_mod1        2209
Name: 602, dtype: object
603 age                   21
gender                 M
occupation    programmer
zip_code           47905
YOB               2002.0
YOB_mod             2002
YOB_mod1             441
Name: 603, dtype: object
604 age                 39
gender               M
occupation    educator
zip_code         11787
YOB             1984.0
YOB_mod           1984
YOB_mod1          1521
Name: 604, dtype: object
605 age                 33
gender               M
occupation    engineer
zip_code         33716
YOB             1990.0
YOB_mod           1990
YOB_mod1          1089
Name: 605, dtype: object
606 age                   28
gender                 M
occupation    programmer
zip_code           63044
YOB               1995.0
YOB_mod             1995
YOB_mod1             784
Name: 606, dtype: object
607 age                   49
gender                 F
occupation    healthcare
zip_code           02154
YOB               1974.0
YOB_mod             1974
YOB_mod1            2401
Name: 607, dtype: object
608 age               22
gender             M
occupation     other
zip_code       10003
YOB           2001.0
YOB_mod         2001
YOB_mod1         484
Name: 608, dtype: object
609 age                13
gender              F
occupation    student
zip_code        55106
YOB            2010.0
YOB_mod          2010
YOB_mod1          169
Name: 609, dtype: object
610 age                22
gender              M
occupation    student
zip_code        21227
YOB            2001.0
YOB_mod          2001
YOB_mod1          484
Name: 610, dtype: object
611 age                  46
gender                M
occupation    librarian
zip_code          77008
YOB              1977.0
YOB_mod            1977
YOB_mod1           2116
Name: 611, dtype: object
612 age                 36
gender               M
occupation    educator
zip_code         79070
YOB             1987.0
YOB_mod           1987
YOB_mod1          1296
Name: 612, dtype: object
613 age                  37
gender                F
occupation    marketing
zip_code          29678
YOB              1986.0
YOB_mod            1986
YOB_mod1           1369
Name: 613, dtype: object
614 age                 54
gender               M
occupation    educator
zip_code         80227
YOB             1969.0
YOB_mod           1969
YOB_mod1          2916
Name: 614, dtype: object
615 age                 38
gender               M
occupation    educator
zip_code         27705
YOB             1985.0
YOB_mod           1985
YOB_mod1          1444
Name: 615, dtype: object
616 age                  55
gender                M
occupation    scientist
zip_code          50613
YOB              1968.0
YOB_mod            1968
YOB_mod1           3025
Name: 616, dtype: object
617 age               27
gender             F
occupation    writer
zip_code       11201
YOB           1996.0
YOB_mod         1996
YOB_mod1         729
Name: 617, dtype: object
618 age                15
gender              F
occupation    student
zip_code        44212
YOB            2008.0
YOB_mod          2008
YOB_mod1          225
Name: 618, dtype: object
619 age                17
gender              M
occupation    student
zip_code        44134
YOB            2006.0
YOB_mod          2006
YOB_mod1          289
Name: 619, dtype: object
620 age               18
gender             F
occupation    writer
zip_code       81648
YOB           2005.0
YOB_mod         2005
YOB_mod1         324
Name: 620, dtype: object
621 age                17
gender              M
occupation    student
zip_code        60402
YOB            2006.0
YOB_mod          2006
YOB_mod1          289
Name: 621, dtype: object
622 age                   25
gender                 M
occupation    programmer
zip_code           14850
YOB               1998.0
YOB_mod             1998
YOB_mod1             625
Name: 622, dtype: object
623 age                 50
gender               F
occupation    educator
zip_code         60187
YOB             1973.0
YOB_mod           1973
YOB_mod1          2500
Name: 623, dtype: object
624 age                19
gender              M
occupation    student
zip_code        30067
YOB            2004.0
YOB_mod          2004
YOB_mod1          361
Name: 624, dtype: object
625 age                   27
gender                 M
occupation    programmer
zip_code           20723
YOB               1996.0
YOB_mod             1996
YOB_mod1             729
Name: 625, dtype: object
626 age                  23
gender                M
occupation    scientist
zip_code          19807
YOB              2000.0
YOB_mod            2000
YOB_mod1            529
Name: 626, dtype: object
627 age                 24
gender               M
occupation    engineer
zip_code         08034
YOB             1999.0
YOB_mod           1999
YOB_mod1           576
Name: 627, dtype: object
628 age               13
gender             M
occupation      none
zip_code       94306
YOB           2010.0
YOB_mod         2010
YOB_mod1         169
Name: 628, dtype: object
629 age               46
gender             F
occupation     other
zip_code       44224
YOB           1977.0
YOB_mod         1977
YOB_mod1        2116
Name: 629, dtype: object
630 age                   26
gender                 F
occupation    healthcare
zip_code           55408
YOB               1997.0
YOB_mod             1997
YOB_mod1             676
Name: 630, dtype: object
631 age                18
gender              F
occupation    student
zip_code        38866
YOB            2005.0
YOB_mod          2005
YOB_mod1          324
Name: 631, dtype: object
632 age                18
gender              M
occupation    student
zip_code        55454
YOB            2005.0
YOB_mod          2005
YOB_mod1          324
Name: 632, dtype: object
633 age                   35
gender                 M
occupation    programmer
zip_code           55414
YOB               1988.0
YOB_mod             1988
YOB_mod1            1225
Name: 633, dtype: object
634 age                 39

In [155]:
for index,row in df.iterrows():
    YOB = curr_year - row['age']
    df['YOB_mod1'][index] = YOB
    print(index,row['age'],YOB)

1 24 1999
2 53 1970
3 23 2000
4 24 1999
5 33 1990
6 42 1981
7 57 1966
8 36 1987
9 29 1994
10 53 1970
11 39 1984
12 28 1995
13 47 1976
14 45 1978
15 49 1974
16 21 2002
17 30 1993
18 35 1988
19 40 1983
20 42 1981
21 26 1997
22 25 1998
23 30 1993
24 21 2002
25 39 1984
26 49 1974
27 40 1983
28 32 1991
29 41 1982
30 7 2016
31 24 1999
32 28 1995
33 23 2000
34 38 1985
35 20 2003
36 19 2004
37 23 2000
38 28 1995
39 41 1982
40 38 1985
41 33 1990
42 30 1993
43 29 1994
44 26 1997
45 29 1994
46 27 1996
47 53 1970
48 45 1978
49 23 2000
50 21 2002
51 28 1995
52 18 2005
53 26 1997
54 22 2001
55 37 1986
56 25 1998
57 16 2007
58 27 1996
59 49 1974
60 50 1973
61 36 1987
62 27 1996
63 31 1992
64 32 1991
65 51 1972
66 23 2000
67 17 2006
68 19 2004
69 24 1999
70 27 1996
71 39 1984
72 48 1975
73 24 1999
74 39 1984
75 24 1999
76 20 2003
77 30 1993
78 26 1997
79 39 1984
80 34 1989
81 21 2002
82 50 1973
83 40 1983
84 32 1991
85 51 1972
86 26 1997
87 47 1976
88 49 1974
89 43 1980
90 60 1963
91 55 1968
92 32 1991
93 48 1975
94 26 1997
95 31 1992
96 25 1998
97 43 1980
98 49 1974
99 20 2003
100 36 1987
101 15 2008
102 38 1985
103 26 1997
104 27 1996
105 24 1999
106 61 1962
107 39 1984
108 44 1979
109 29 1994
110 19 2004
111 57 1966
112 30 1993
113 47 1976
114 27 1996
115 31 1992
116 40 1983
117 20 2003
118 21 2002
119 32 1991
120 47 1976
121 54 1969
122 32 1991
123 48 1975
124 34 1989
125 30 1993
126 28 1995
127 33 1990
128 24 1999
129 36 1987
130 20 2003
131 59 1964
132 24 1999
133 53 1970
134 31 1992
135 23 2000
136 51 1972
137 50 1973
138 46 1977
139 20 2003
140 30 1993
141 49 1974
142 13 2010
143 42 1981
144 53 1970
145 31 1992
146 45 1978
147 40 1983
148 33 1990
149 35 1988
150 20 2003
151 38 1985
152 33 1990
153 25 1998
154 25 1998
155 32 1991
156 25 1998
157 57 1966
158 50 1973
159 23 2000
160 27 1996
161 50 1973
162 25 1998
163 49 1974
164 47 1976
165 20 2003
166 47 1976
167 37 1986
168 48 1975
169 52 1971
170 53 1970
171 48 1975
172 55 1968
173 56 1967
174 30 1993
175 26 1997
176 28 1995
177 20 2003
178 26 1997
179 15 2008
180 22 2001
181 26 1997
182 36 1987
183 33 1990
184 37 1986
185 53 1970
186 39 1984
187 26 1997
188 42 1981
189 32 1991
190 30 1993
191 33 1990
192 42 1981
193 29 1994
194 38 1985
195 42 1981
196 49 1974
197 55 1968
198 21 2002
199 30 1993
200 40 1983
201 27 1996
202 41 1982
203 25 1998
204 52 1971
205 47 1976
206 14 2009
207 39 1984
208 43 1980
209 33 1990
210 39 1984
211 66 1957
212 49 1974
213 33 1990
214 26 1997
215 35 1988
216 22 2001
217 22 2001
218 37 1986
219 32 1991
220 30 1993
221 19 2004
222 29 1994
223 19 2004
224 31 1992
225 51 1972
226 28 1995
227 46 1977
228 21 2002
229 29 1994
230 28 1995
231 48 1975
232 45 1978
233 38 1985
234 60 1963
235 37 1986
236 44 1979
237 49 1974
238 42 1981
239 39 1984
240 23 2000
241 26 1997
242 33 1990
243 33 1990
244 28 1995
245 22 2001
246 19 2004
247 28 1995
248 25 1998
249 25 1998
250 29 1994
251 28 1995
252 42 1981
253 26 1997
254 44 1979
255 23 2000
256 35 1988
257 17 2006
258 19 2004
259 21 2002
260 40 1983
261 28 1995
262 19 2004
263 41 1982
264 36 1987
265 26 1997
266 62 1961
267 23 2000
268 24 1999
269 31 1992
270 18 2005
271 51 1972
272 33 1990
273 50 1973
274 20 2003
275 38 1985
276 21 2002
277 35 1988
278 37 1986
279 33 1990
280 30 1993
281 15 2008
282 22 2001
283 28 1995
284 40 1983
285 25 1998
286 27 1996
287 21 2002
288 34 1989
289 11 2012
290 40 1983
291 19 2004
292 35 1988
293 24 1999
294 34 1989
295 31 1992
296 43 1980
297 29 1994
298 44 1979
299 29 1994
300 26 1997
301 24 1999
302 42 1981
303 19 2004
304 22 2001
305 23 2000
306 45 1978
307 25 1998
308 60 1963
309 40 1983
310 37 1986
311 32 1991
312 48 1975
313 41 1982
314 20 2003
315 31 1992
316 43 1980
317 22 2001
318 65 1958
319 38 1985
320 19 2004
321 49 1974
322 20 2003
323 21 2002
324 21 2002
325 48 1975
326 41 1982
327 22 2001
328 51 1972
329 48 1975
330 35 1988
331 33 1990
332 20 2003
333 47 1976
334 32 1991
335 45 1978
336 23 2000
337 37 1986
338 39 1984
339 35 1988
340 46 1977
341 17 2006
342 25 1998
343 43 1980
344 30 1993
345 28 1995
346 34 1989
347 18 2005
348 24 1999
349 68 1955
350 32 1991
351 61 1962
352 37 1986
353 25 1998
354 29 1994
355 25 1998
356 32 1991
357 26 1997
358 40 1983
359 22 2001
360 51 1972
361 22 2001
362 35 1988
363 20 2003
364 63 1960
365 29 1994
366 20 2003
367 17 2006
368 18 2005
369 24 1999
370 52 1971
371 36 1987
372 25 1998
373 24 1999
374 36 1987
375 17 2006
376 28 1995
377 22 2001
378 35 1988
379 44 1979
380 32 1991
381 33 1990
382 45 1978
383 42 1981
384 52 1971
385 36 1987
386 36 1987
387 33 1990
388 31 1992
389 44 1979
390 42 1981
391 23 2000
392 52 1971
393 19 2004
394 25 1998
395 43 1980
396 57 1966
397 17 2006
398 40 1983
399 25 1998
400 33 1990
401 46 1977
402 30 1993
403 37 1986
404 29 1994
405 22 2001
406 52 1971
407 29 1994
408 23 2000
409 48 1975
410 30 1993
411 34 1989
412 25 1998
413 55 1968
414 24 1999
415 39 1984
416 20 2003
417 27 1996
418 55 1968
419 37 1986
420 53 1970
421 38 1985
422 26 1997
423 64 1959
424 36 1987
425 19 2004
426 55 1968
427 51 1972
428 28 1995
429 27 1996
430 38 1985
431 24 1999
432 22 2001
433 27 1996
434 16 2007
435 24 1999
436 30 1993
437 27 1996
438 51 1972
439 23 2000
440 30 1993
441 50 1973
442 22 2001
443 35 1988
444 51 1972
445 21 2002
446 57 1966
447 30 1993
448 23 2000
449 23 2000
450 35 1988
451 16 2007
452 35 1988
453 18 2005
454 57 1966
455 48 1975
456 24 1999
457 33 1990
458 47 1976
459 22 2001
460 44 1979
461 15 2008
462 19 2004
463 48 1975
464 60 1963
465 32 1991
466 22 2001
467 29 1994
468 28 1995
469 60 1963
470 24 1999
471 10 2013
472 24 1999
473 29 1994
474 51 1972
475 30 1993
476 28 1995
477 23 2000
478 29 1994
479 30 1993
480 57 1966
481 73 1950
482 18 2005
483 29 1994
484 27 1996
485 44 1979
486 39 1984
487 22 2001
488 48 1975
489 55 1968
490 29 1994
491 43 1980
492 57 1966
493 22 2001
494 38 1985
495 29 1994
496 21 2002
497 20 2003
498 26 1997
499 42 1981
500 28 1995
501 22 2001
502 22 2001
503 50 1973
504 40 1983
505 27 1996
506 46 1977
507 18 2005
508 27 1996
509 23 2000
510 34 1989
511 22 2001
512 29 1994
513 43 1980
514 27 1996
515 53 1970
516 53 1970
517 24 1999
518 49 1974
519 22 2001
520 62 1961
521 19 2004
522 36 1987
523 50 1973
524 56 1967
525 27 1996
526 30 1993
527 33 1990
528 18 2005
529 47 1976
530 29 1994
531 30 1993
532 20 2003
533 43 1980
534 20 2003
535 45 1978
536 38 1985
537 36 1987
538 31 1992
539 53 1970
540 28 1995
541 19 2004
542 21 2002
543 33 1990
544 44 1979
545 27 1996
546 36 1987
547 50 1973
548 51 1972
549 42 1981
550 16 2007
551 25 1998
552 45 1978
553 58 1965
554 32 1991
555 29 1994
556 35 1988
557 30 1993
558 56 1967
559 69 1954
560 32 1991
561 23 2000
562 54 1969
563 39 1984
564 65 1958
565 40 1983
566 20 2003
567 24 1999
568 39 1984
569 34 1989
570 26 1997
571 34 1989
572 51 1972
573 68 1955
574 56 1967
575 33 1990
576 48 1975
577 36 1987
578 31 1992
579 32 1991
580 16 2007
581 37 1986
582 17 2006
583 44 1979
584 25 1998
585 69 1954
586 20 2003
587 26 1997
588 18 2005
589 21 2002
590 50 1973
591 57 1966
592 18 2005
593 31 1992
594 46 1977
595 25 1998
596 20 2003
597 23 2000
598 40 1983
599 22 2001
600 34 1989
601 19 2004
602 47 1976
603 21 2002
604 39 1984
605 33 1990
606 28 1995
607 49 1974
608 22 2001
609 13 2010
610 22 2001
611 46 1977
612 36 1987
613 37 1986
614 54 1969
615 38 1985
616 55 1968
617 27 1996
618 15 2008
619 17 2006
620 18 2005
621 17 2006
622 25 1998
623 50 1973
624 19 2004
625 27 1996
626 23 2000
627 24 1999
628 13 2010
629 46 1977
630 26 1997
631 18 2005
632 18 2005
633 35 1988
634 39 1984
635 22 2001
636 47 1976
637 30 1993
638 45 1978
639 42 1981
640 20 2003
641 24 1999
642 18 2005
643 39 1984
644 51 1972
645 27 1996
646 17 2006
647 40 1983
648 43 1980
649 20 2003
650 42 1981
651 65 1958
652 35 1988
653 31 1992
654 27 1996
655 50 1973
656 48 1975
657 26 1997
658 33 1990
659 31 1992
660 26 1997
661 28 1995
662 55 1968
663 26 1997
664 30 1993
665 25 1998
666 44 1979
667 35 1988
668 29 1994
669 37 1986
670 30 1993
671 21 2002
672 54 1969
673 51 1972
674 13 2010
675 34 1989
676 30 1993
677 20 2003
678 50 1973
679 20 2003
680 33 1990
681 44 1979
682 23 2000
683 42 1981
684 28 1995
685 32 1991
686 32 1991
687 31 1992
688 37 1986
689 25 1998
690 35 1988
691 34 1989
692 34 1989
693 43 1980
694 60 1963
695 26 1997
696 55 1968
697 25 1998
698 28 1995
699 44 1979
700 17 2006
701 51 1972
702 37 1986
703 26 1997
704 51 1972
705 21 2002
706 23 2000
707 56 1967
708 26 1997
709 21 2002
710 19 2004
711 22 2001
712 22 2001
713 42 1981
714 26 1997
715 21 2002
716 36 1987
717 24 1999
718 42 1981
719 37 1986
720 49 1974
721 24 1999
722 50 1973
723 26 1997
724 31 1992
725 21 2002
726 25 1998
727 25 1998
728 58 1965
729 19 2004
730 31 1992
731 41 1982
732 28 1995
733 44 1979
734 25 1998
735 29 1994
736 48 1975
737 30 1993
738 35 1988
739 35 1988
740 25 1998
741 25 1998
742 35 1988
743 31 1992
744 35 1988
745 42 1981
746 25 1998
747 19 2004
748 28 1995
749 33 1990
750 28 1995
751 24 1999
752 60 1963
753 56 1967
754 59 1964
755 44 1979
756 30 1993
757 26 1997
758 27 1996
759 20 2003
760 35 1988
761 17 2006
762 32 1991
763 27 1996
764 27 1996
765 31 1992
766 42 1981
767 70 1953
768 29 1994
769 39 1984
770 28 1995
771 26 1997
772 50 1973
773 20 2003
774 30 1993
775 46 1977
776 30 1993
777 63 1960
778 34 1989
779 31 1992
780 49 1974
781 20 2003
782 21 2002
783 30 1993
784 47 1976
785 32 1991
786 36 1987
787 18 2005
788 51 1972
789 29 1994
790 27 1996
791 31 1992
792 40 1983
793 22 2001
794 32 1991
795 30 1993
796 32 1991
797 44 1979
798 40 1983
799 49 1974
800 25 1998
801 22 2001
802 35 1988
803 70 1953
804 39 1984
805 27 1996
806 27 1996
807 41 1982
808 45 1978
809 50 1973
810 55 1968
811 40 1983
812 22 2001
813 14 2009
814 30 1993
815 32 1991
816 34 1989
817 19 2004
818 28 1995
819 59 1964
820 22 2001
821 37 1986
822 29 1994
823 27 1996
824 31 1992
825 44 1979
826 28 1995
827 23 2000
828 28 1995
829 48 1975
830 46 1977
831 21 2002
832 24 1999
833 34 1989
834 26 1997
835 44 1979
836 44 1979
837 36 1987
838 23 2000
839 38 1985
840 39 1984
841 45 1978
842 40 1983
843 35 1988
844 22 2001
845 64 1959
846 27 1996
847 29 1994
848 46 1977
849 15 2008
850 34 1989
851 18 2005
852 46 1977
853 49 1974
854 29 1994
855 53 1970
856 43 1980
857 35 1988
858 63 1960
859 18 2005
860 70 1953
861 38 1985
862 25 1998
863 17 2006
864 27 1996
865 25 1998
866 45 1978
867 24 1999
868 21 2002
869 30 1993
870 22 2001
871 31 1992
872 19 2004
873 48 1975
874 36 1987
875 24 1999
876 41 1982
877 30 1993
878 50 1973
879 33 1990
880 13 2010
881 39 1984
882 35 1988
883 49 1974
884 44 1979
885 30 1993
886 20 2003
887 14 2009
888 41 1982
889 24 1999
890 32 1991
891 51 1972
892 36 1987
893 25 1998
894 47 1976
895 31 1992
896 28 1995
897 30 1993
898 23 2000
899 32 1991
900 60 1963
901 38 1985
902 45 1978
903 28 1995
904 17 2006
905 27 1996
906 45 1978
907 25 1998
908 44 1979
909 50 1973
910 28 1995
911 37 1986
912 51 1972
913 27 1996
914 44 1979
915 50 1973
916 27 1996
917 22 2001
918 40 1983
919 25 1998
920 30 1993
921 20 2003
922 29 1994
923 21 2002
924 29 1994
925 18 2005
926 49 1974
927 23 2000
928 21 2002
929 44 1979
930 28 1995
931 60 1963
932 58 1965
933 28 1995
934 61 1962
935 42 1981
936 24 1999
937 48 1975
938 38 1985
939 26 1997
940 32 1991
941 20 2003
942 48 1975
943 22 2001

C:\Users\gaugupta19\AppData\Local\Temp\ipykernel_31220\2474221347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YOB_mod1'][index] = YOB

In [156]:
df.head()

         age gender  occupation zip_code     YOB  YOB_mod  YOB_mod1
user_id
1         24      M  technician    85711  1999.0     1999      1999
2         53      F       other    94043  1970.0     1970      1970
3         23      M      writer    32067  2000.0     2000      2000
4         24      M  technician    43537  1999.0     1999      1999
5         33      F       other    15213  1990.0     1990      1990

In [129]:
#### Apply - Auto iteration.
#### Lambda - One line function.

In [158]:
### Assignment - What is itertuples() in python.
### Assignment - How to vectorize in pandas.

In [132]:
df['YOB_mod1'] = df['age']*

In [133]:
df.head()

         age gender  occupation zip_code     YOB  YOB_mod  YOB_mod1
user_id
1         24      M  technician    85711  1999.0     1999       576
2         53      F       other    94043  1970.0     1970      2809
3         23      M      writer    32067  2000.0     2000       529
4         24      M  technician    43537  1999.0     1999       576
5         33      F       other    15213  1990.0     1990      1089