# Basics of Jupyter Notebook

1) Installation

2) Creating new notebook

3) Renaming notebook

4) Uploading data

5) Cell Types

6) Toolbar description

#  Basic Syntax and Comments

In [1]:
#Indentation
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-1-a314491c53bb>, line 2)

In [10]:
#Indentation has to be min 1, 4 is ideal
#Same clause will have same indentation


if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
    print("Five is greater than two!") 
    print("Two is smaller than five!")

Five is greater than two!
Five is greater than two!
Two is smaller than five!

In [5]:
#Case Sesitive
a=5
A=6

print(a)
print(A)

5
6

In [11]:
#Comments - using hash

# print("Hello world")
# print("Hello universe")
# print("Hello everyone")

print("Hello all")

Hello all

In [12]:
"""
This is a multi-line comment with docstrings

print("Hello world")
print("Hello universe")
print("Hello everyone")
"""

print("Hello campers")

Hello campers

# Variables

In [16]:
#Implicite declaration of variables
a = 3
b = "sakshi"

print(a)
print(b)

3
sakshi

In [19]:
print("type of a : ",type(a))
print("type of b : ",type(b))

type of a :  <class 'int'>
type of b :  <class 'str'>

In [21]:
#explicit declaration of variables 
c = str(3)
print("1")
print("type of c : ", type(c))

c = int(3)
print("2")
print("type of c : ", type(c))

c = float(3)
print("3")
print("type of c : ", type(c))

1
type of c :  <class 'str'>
2
type of c :  <class 'int'>
3
type of c :  <class 'float'>

Name of variables
1) A variable name must start with a letter or the underscore character

2) A variable name cannot start with a number

3) A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

4) Variable names are case-sensitive (age, Age and AGE are three different variables)

5) A variable name cannot be any of the Python keywords.

In [22]:
myvar = "Sakshi"
my_var = "Sakshi"
_my_var = "Sakshi"
myVar = "Sakshi"
MYVAR = "Sakshi"
myvar2 = "Sakshi"

In [23]:
2myvar = "Sakshi"
my-var = "Sakshi"
my var = "Sakshi"

SyntaxError: invalid syntax (<ipython-input-23-c67e15ff2948>, line 1)

In [28]:
#Assign values to variable in one go
a,b,c = 'fruit','flower','vegie'
print(a)
print(b)
print(c)

fruit
flower
vegie

In [27]:
a = b = c = 'fruit'
print(a)
print(b)
print(c)

fruit
fruit
fruit

In [29]:
items = ['fruit','flower','vegie']
a,b,c = items
print(a)
print(b)
print(c)

fruit
flower
vegie

# Descriptive Analysis

# Data Types in Python.

In [2]:
##Check the data type of a variable 
a=5
b='Hello'
c= 4.5
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [3]:
##Check the data type of a column in a dataframe
df_store['SALES_AREA_SIZE_NUM'].dtypes

NameError: name 'df_store' is not defined

### 1. Numeric data Types

In [91]:
##Numeric 

a=5
b=4.5
c=2+4j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### 2. Character data Types

In [93]:
#Strings
# Creating a String  
String1 = 'Welcome to Python Training'
print(String1) 

#Accesing a string
#Printing First character 
print(String1[0])

Welcome to Python Training
W

### 3. Tuples

In [102]:
#Tuple
    
# Creating an empty tuple 
Tuple1 = () 
print (Tuple1) 
    
# Creating a Tuple with the use of Strings 
Tuple2 = ('Hello', 'World') 
print(Tuple2) 
    
# Creating a Tuple with the use of list 
list1 = [1, 2, 4, 5, 6] 
print(tuple(list1)) 
  
# Creating a Tuple with the use of built-in function 
Tuple3 = tuple('Hello') 
print(Tuple3) 
  
# Creating a Tuple with nested tuples 
Tuple5 = (0, 1, 2, 3) 
Tuple6 = ('Hello', 'World') 
Tuple4 = (Tuple5, Tuple6) 
print(Tuple4) 

#Accessing first element of tuple2
print(Tuple2[0])

()
('Hello', 'World')
(1, 2, 4, 5, 6)
('H', 'e', 'l', 'l', 'o')
((0, 1, 2, 3), ('Hello', 'World'))
Hello

### 4.Booleans

In [103]:
#Boolean

#Checking the type of True and False
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

### 5.Sets

In [109]:
#Set
#Creating an empty Set 
set1 = set() 
print(set1) 
    
# Creating a Set with  the use of a String 
set1 = set("Hello World") 
print(set1) 
  
# Creating a Set with the use of a List 
set2 = set(["Hello", "World"]) 
print(set2) 
  
# Creating a Set with different data types  
set3 = set([1, 2, 'Hello', 4, 'World', 6, 2+4j, 'Hello']) 
print(set3) 


# Accessing element from set3 using for loop 
print("\nElements of set: ") 
for i in set3: 
    print(i, end =" ") 
    
# Checking the element from set3 using in keyword 
print('\nUsing in keyword')
print("Hello" in set3)

set()
{'l', ' ', 'r', 'e', 'd', 'W', 'H', 'o'}
{'World', 'Hello'}
{1, 2, 4, 6, (2+4j), 'World', 'Hello'}

Elements of set:
1 2 4 6 (2+4j) World Hello
Using in keyword
True

### 6.Dictionary

In [111]:
#Dictionary

# Creating an empty Dictionary 
Dict = {} 
print(Dict) 
    
# Creating a Dictionary with Integer Keys 
Dict1 = {1: 'Hello', 2: 'World'} 
print(Dict1) 
    
# Creating a Dictionary with keys of different data types 
Dict2 = {'Name': 'John', 1: [1, 2, 3, 4]} 
print(Dict2) 
    
# Creating a Dictionary with dict() method 
Dict3 = dict({1: 'Hello', 2: 'World'}) 
print(Dict3) 
    
# Creating a Dictionary with each item as a Pair 
Dict4 = dict([(1, 'Hello'), (2, 'World')]) 
print(Dict4)

{}
{1: 'Hello', 2: 'World'}
{'Name': 'John', 1: [1, 2, 3, 4]}
{1: 'Hello', 2: 'World'}
{1: 'Hello', 2: 'World'}

### 7.Lists

In [50]:
#Lists
# Creating a blank List 
List1 = [] 
print(List1) 
    
# Creating a List with multiple datatype  
List2 = ['Welcome to Python Training', 0, 4.5, 2+4j] 
print(List2) 
    
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List3 = [['Hello', 'World'], ['Hello']] 
print(List3)

[]
['Welcome to Python Training', 0, 4.5, (2+4j)]
[['Hello', 'World'], ['Hello']]

List slicing/filtering

In [51]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# elements from index 2 to index 4 (inside the square brackets, start number is included but the stop number is excluded)
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

Change values in list

In [52]:
##Change values in a list

print(my_list)

#change the values at 0 and 1 index
my_list[0:2] = [1,2]
print(my_list)

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']
[1, 2, 'o', 'g', 'r', 'a', 'm', 'i', 'z']

Adding elements in list

In [53]:
## adding new elements to a list

#using append method - adds values to the end of the list - if only 1 element you want to add, then use append, 
#else append will create a nested list
print("Initial list - ")
print(my_list)

my_list.append(7)
print("\nAppending one element - ")
print(my_list)

my_list.append([3,4])
print("\nAppending multiple elements - ")
print(my_list)

Initial list -
[1, 2, 'o', 'g', 'r', 'a', 'm', 'i', 'z']

Appending one element -
[1, 2, 'o', 'g', 'r', 'a', 'm', 'i', 'z', 7]

Appending multiple elements -
[1, 2, 'o', 'g', 'r', 'a', 'm', 'i', 'z', 7, [3, 4]]

In [54]:
#using extend method - add values to the end of the list

my_list.extend([5])
print("\nExtending one element - ")
print(my_list)

my_list.extend([6,8])
print("\nExtending multiple elements - ")
print(my_list)

Extending one element -
[1, 2, 'o', 'g', 'r', 'a', 'm', 'i', 'z', 7, [3, 4], 5]

Extending multiple elements -
[1, 2, 'o', 'g', 'r', 'a', 'm', 'i', 'z', 7, [3, 4], 5, 6, 8]

In [55]:
#using insert method - add values at whichever position you want. Example - insert 10 at 9th index

my_list.insert(9,10)
print(my_list)

##insert 11 and 12 at 2nd index
my_list[2:2] = [11,12]
print(my_list)

[1, 2, 'o', 'g', 'r', 'a', 'm', 'i', 'z', 10, 7, [3, 4], 5, 6, 8]
[1, 2, 11, 12, 'o', 'g', 'r', 'a', 'm', 'i', 'z', 10, 7, [3, 4], 5, 6, 8]

Accessing elements inside a list

In [56]:
print("Accessing an element from the list")
print(my_list[2])

print("\nAccessing elements from the nested list")
print(my_list[13][1])

print("\nAccessing last item")
print(my_list[-1])

print("\nAccessing last fourth item")
print(my_list[-4])

Accessing an element from the list
11

Accessing elements from the nested list
4

Accessing last item
8

Accessing last fourth item
[3, 4]

Delete list elements

In [57]:
# Deleting list items

# delete one item
print("Deleting one element - ")
del my_list[2]
print(my_list)

# delete multiple items
print("\nDeleting multiple elements")
del my_list[1:5]
print(my_list)

# delete the entire list
print("\nDeleting List1")
print(List1)
del List1

Deleting one element -
[1, 2, 12, 'o', 'g', 'r', 'a', 'm', 'i', 'z', 10, 7, [3, 4], 5, 6, 8]

Deleting multiple elements
[1, 'r', 'a', 'm', 'i', 'z', 10, 7, [3, 4], 5, 6, 8]

Deleting List1
[]

In [58]:
# Error: List not defined
print(List1)

NameError: name 'List1' is not defined

In [59]:
##using remove method - specify the element that you want to delete
print("\nRemove element 'm' from list")
my_list.remove('m')
print(my_list)

Remove element 'm' from list
[1, 'r', 'a', 'i', 'z', 10, 7, [3, 4], 5, 6, 8]

In [60]:
##using pop method - specify the index from where you want to delete the element
print("\nRemove element at index 5")
print(my_list.pop(5))

Remove element at index 5
10

In [61]:
print(my_list)

[1, 'r', 'a', 'i', 'z', 7, [3, 4], 5, 6, 8]

In [62]:
##delete elements by assigning an empty list to the slice of elements

print("\nRemoving elements at index 2 and 3 ")
my_list[2:4] = []
print(my_list)

Removing elements at index 2 and 3
[1, 'r', 'z', 7, [3, 4], 5, 6, 8]

In [64]:
##Empty the entire list
my_list.clear()
print(my_list)

[]

Check the count of elements in a list

In [71]:
numbers = [2, 3, 5, 2, 11, 2, 7]

print("\ncheck the count of 2 ")
print(numbers.count(2))


random = ['a', ('a', 'b'), ('a', 'b'), [3, 4]]

print("\ncheck count of ('a','b') & a ")
print(random.count(('a', 'b')))
print(random.count('a'))

check the count of 2
3

check count of ('a','b') & a
2
1

sort a list

In [75]:
# sorting the list in ascending order

#using sort() - it sorts the list but does not return anything
print("Sorting in ascending order")
numbers.sort()
print(numbers)


print("\nSorting in descending order")
numbers.sort(reverse = True)
print(numbers)

Sorting in ascending order
[2, 2, 2, 3, 5, 7, 11]

Sorting in descending order
[11, 7, 5, 3, 2, 2, 2]

In [81]:
#using sorted()  - it sorts and returs the sorted list
print('\noriginal list')
numbers = [2, 3, 5, 2, 11, 2, 7]
print(numbers)

#Sort list in ascending order
print("\nSort list in ascending order")
sorted(numbers)

original list
[2, 3, 5, 2, 11, 2, 7]

Sort list in ascending order

[2, 2, 2, 3, 5, 7, 11]

In [82]:
#Sort list in descending order
print("\nSort list in descending order")
sorted(numbers, reverse = True)

Sort list in descending order

[11, 7, 5, 3, 2, 2, 2]

In [91]:
#Concatenation and difference of two lists - (difference = if you want to find elements present in one list and absent from another)
List1 = [1,2,3,4]
List2 = [3,5,6,7]

print("Concatenation of two lists ")
List3 = List1+List2
print(List3)

print("\nDifference of two lists")
List4 = list(set(List1)-set(List2))
print(List4)

Concatenation of two lists
[1, 2, 3, 4, 3, 5, 6, 7]

Difference of two lists
[1, 2, 4]

Convert a tuple into list

In [94]:
tup1 = (1,2,3,4)
print(type(tup1))

list1 = list(tup1)
print(type(list1))

<class 'tuple'>
<class 'list'>

Looping the lists

In [101]:
newlist1=[]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
for x in fruits:
    if "apple" not in x:
        newlist1.append(x)

print(newlist1)

['banana', 'cherry', 'kiwi', 'mango']

List Comprehension

In [102]:
#Instead of using Loop you can complete a task in a asingle line of code 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x!='apple']
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

Array

In [111]:
import numpy as np
a = np.array([1,3,2+3j])
print(type(a))
print(a)

<class 'numpy.ndarray'>
[1.+0.j 3.+0.j 2.+3.j]

In [113]:
a[1]

(3+0j)

Series

In [122]:
list1 = [1,'a',3]
ser = pd.Series(list1)
print(ser)

0    1
1    a
2    3
dtype: object

In [128]:
type(ser[2])

int