# PYTHON DATA TYPES

**Sample questions and answers of python expressions,variables , strings, lists and tuples, objects and classes, and python standard library.**

Q.1

Write Python algebraic expressions corresponding to the following statements:

(a) The sum of the first five positive integers

(b) The average age of Sara (age 23), Mark (age 19), and Fatima (age 31)

(c) The number of times 73 goes into 403

(d) The remainder when 403 is divided by 73

(e) 2 to the 10th power

Q.2

Translate the following statements into Python Boolean expressions and evaluate them:

(a) The sum of 2 and 2 is less than 4.

(b) The value of 7 // 3 is equal to 1 + 1.

(c) The sum of 3 squared and 4 squared is equal to 25.

(d) The sum of 2, 4, and 6 is greater than 12.

(e) 1387 is divisible by 19.

(f) 31 is even.

(g) The lowest price among $34.99, $29.95, and $31.50 is less than $30.00.

Q.3

Write Python statements that correspond to the actions below and execute them:

(a) Assign integer value 3 to variable a.
(b) Assign 4 to variable b.
(c) Assign to variable c the value of expression a * a + b * b.

Q.4

Start by executing the assignment statements:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'

Write Python expressions using s1, s2, and s3 and operators + and * that evaluate to:

(a) 'ant bat cod'

Q.5

Start by executing the assignment:
s = '0123456789'

Now write expressions using string s and the indexing operator that evaluate to:
(a) '0'
(b) '1'
(c) '6'
(d) '8'
(e) '9'

Q.6

First execute the assignment
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
Now write two Python expressions that evaluate to the first and last, respectively, word in
words, in dictionary order.

Q.7

Given the list of student homework grades

In [33]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]

(a) An expression that counts number of 7 grades

(b) A statement that changes the last grade to 4

(c) An expression that evaluates to the maximum grade

(d) A statement that sorts the list grades

(e) An expression that evaluates to the average grade

Q.8

What is the type of the object that these expressions evaluate to?

In [43]:
False + False

0

In [45]:
2 * 3**2.0

18.0

In [47]:
4 // 2 + 4 % 2

2

In [49]:
2 + 3 == 4 or 5 >= 5

True

Q.9

Write Python expressions corresponding to these statements:

(a) The sum of negative integers −7 through −1

(b) The average age of a group of kids at a summer camp given than 17 are 9 years old,
24 are 10 years old, 21 are 11 years old, and 27 are 12 years old

(c) 2 to the power −20

(d) The number of times 61 goes into 4356

(e) The remainder when 4365 is divided by 61

Q.10

Start by running, in the shell, the following assignment statement:
s = 'abcdefghijklmnopqrstuvwxyz'
Now write expressions using string s and the indexing operator that evaluate to 'a', 'c',
'z', 'y', and 'q'.

In [68]:
s = 'abcdefghijklmnopqrstuvwxyz'

Q.11

Start by executing
s = 'goodbye'
Then write a Boolean expression that checks whether:

In [74]:
s = 'goodbye'

(a) The first character of string s is 'g'

(b) The seventh character of s is 'g'

(c) The first two characters of s are 'g' and 'a'

(d) The next to last character of s is 'x'

(e) The middle character of s is 'd'

(f) The first and last characters of string s are equal

(g) The last four characters of string s match the string 'tion'

Q.12

Write the corresponding Python assignment statements:

(a) Assign 6 to variable a and 7 to variable b.

(b) Assign to variable c the average of variables a and b.

(c) Assign to variable inventory the list containing strings 'paper', 'staples', and
'pencils'.

(d) Assign to variables first, middle and last the strings 'John', 'Fitzgerald',
and 'Kennedy'.

(e) Assign to variable fullname the concatenation of string variables first, middle,
and last. Make sure you incorporate blank spaces appropriately.

Q.13

write Boolean expressions corresponding to
the following logical statements and evaluate the expressions:

(a) The sum of 17 and −9 is less than 10.

(b) The length of list inventory is more than five times the length of string fullname.

(c) c is no more than 24.

(d) 6.75 is between the values of integers a and b.

(e) The length of string middle is larger than the length of string first and smaller than
the length string last.

(f) Either the list inventory is empty or it has more than 10 objects in it.

Q.14

Write Python statements corresponding to the following:

(a) Assign to variable flowers a list containing strings 'rose', 'bougainvillea',
'yucca', 'marigold', 'daylilly', and 'lilly of the valley'.

(b) Write a Boolean expression that evaluates to True if string 'potato' is in list flowers,
and evaluate the expression.

(c) Assign to list thorny the sublist consisting of the first three objects in list flowers.

(d) Assign to list poisonous the sublist consisting of just the last object of list flowers.

(e) Assign to list dangerous the concatenation of lists thorny and poisonous.

Q.15

Start by assigning to variable answers a list containing an arbitrary sequence of strings
'Y' and 'N'.

In [106]:
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']

Write Python statements corresponding to the following:

(a) Assign to variable numYes the number of occurrences of 'Y' in list answers.

(b) Assign to variable numNo the number of occurrences of 'N' in list answers.

(c) Assign to variable percentYes the percentage of strings in answers that are 'Y'.

(d) Sort the list answers.

(e) Assign to variable f the index of the first occurrence of 'Y' in sorted list answers.

Q.16

Write an expression involving a three-letter string s that evaluates to a string whose
characters are the characters of s in reverse order. If s is 'top', the expression should
evaluate to 'pot'.

Q.17

Write an expression involving strings s and t containing the last name and the first

name, respectively, of a person that evaluates to the person’s initials. If the two strings con-
tained the first and last name of this book’s author, the expression would evaluate to 'LP'.

In [2]:
first_name = 'Krishnan'
last_name = 'Arya'

Q.18

Start by assigning to variables monthsL and monthsT a list and a tuple, respectively,
both containing strings 'Jan', 'Feb', 'Mar', and 'May', in that order. Then attempt the
following with both containers:

(a) Insert string 'Apr' between 'Mar' and 'May'.

(b) Append string 'Jun'.

(c) Pop the container.

(d) Remove the second item in the container.

(e) Reverse the order of items in the container.

(f) Sort the container.

Q.19

Start by assigning to variable grades a list containing an arbitrary sequence of grades
(strings) 'A', 'B', 'C', 'D', and 'F'. Then convert it into a tuple

In [129]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']

Q.20

Write the relevant Python expression or statement, involving a list of numbers lst
and using list operators and methods for these specifications:

In [143]:
Ist = [1,3,5,7,9,11,13]

(a) An expression that evaluates to the index of the middle element of lst

(c) A statement that sorts the list lst in descending order

(d) A statement that removes the first number of list lst and puts it at the end